---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import Hero from '../components/Hero.astro';
const pageTitle = 'Mozam Portfolio';
const allPosts = await getCollection('collabs');
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="bg-img">
      <BaseLayout title={pageTitle}>
        <Hero />
        <ul>
          {allPosts.map((post) => <BlogPost url={`/content/${post.id}`} title={post.data.title} description={post.data.description} />)}
        </ul>
      </BaseLayout>
    </div>
  </body>
</html>
