---
const { title } = Astro.props;
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import Image from 'astro/components/Image.astro';
import mozamPolaroid from '../img/mozam-polaroid.webp';
import collab01 from '../img/collab-tab-01.webp';
import collab02 from '../img/collab-tab-02.webp';
import collab03 from '../img/collab-tab-03.webp';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/coi1biv.css" />

    <title>{title}</title>
  </head>
  <body>
    <Navigation />
    <div class="hero">
      <div class="head">
        <p class="head__title">Mozam scribbles creativity!</p>
      </div>
      <div>
        <Image src={mozamPolaroid} alt="placeholder" class="hero__img" />
      </div>
    </div>

    <div class="container">
      <p class="subjectText">Highlighted Projects:</p>

      <div class="highlights">
        <div>
          <p class="regularText">T-shirt Illustrations for artists duo "ZLDR".</p>
          <Image src={collab01} alt="placeholder" class="hero__img" />
        </div>
        <div>
          <p class="regularText">Comic prequel for a creative studio in Berlin.</p>
          <Image src={collab02} alt="placeholder" class="hero__img" />
        </div>
        <div>
          <p class="regularText">First published illustration in a publishing comic.</p>
          <Image src={collab03} alt="placeholder" class="hero__img" />
        </div>
      </div>
    </div>

    <div class="container">
      <p class="subjectText">
        More content here:
      </p>
    </div>
    <Footer />
  </body>
</html>
<style>
  .highlights{
    padding-top: 1rem;
  }
  .hero__img {
    height: auto;
    max-width: 100%;
  }
</style>
