---
import BaseLayout from '../layouts/BaseLayout.astro';


const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>


  <div class="content">
    <img src={frontmatter.image.src} alt="" />
    <div class="text">
      <slot />
    </div>
    <img src={frontmatter.image1.src} alt="" />
    <img src={frontmatter.image2.src} alt="" />
    <img src={frontmatter.image3.src} alt="" />
    <img src={frontmatter.image4.src} alt="" />
  </div>
  <style>
    .content {
      font-family: 'orbitron', sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 1em;
      padding-inline: 1em;
    }
    .text {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  </style>
</BaseLayout>
